.dd-menu {
    user-select: none;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    border-bottom: $menu-border-width solid $menu-border-color;
    // box-shadow: $menu-box-shadow;
    .dd-menuitem {
        position: relative;
        padding: $menu-item-padding-y 0;
        margin: $menu-item-margin-y $menu-item-margin-x;
        cursor: pointer;
        transition: $menu-transition;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &.is-disabled {
            color: $menu-item-disabled-color;
            // pointer-events: none;
            cursor: not-allowed;
            &:hover {
                color: $menu-item-disabled-color;
                border-bottom: 0;
                border-right: 0;
            }
        }
        &:hover {
            color: $menu-item-active-color;
        }
        &.submenu-item {
            position: relative;
            &.is-active,
            &:hover,
            &:focus {
                text-decoration: none;
                .dd-submenu-arrow {
                    &::before {
                        background-image: linear-gradient(90deg, #1890ff, #1890ff) !important;
                    }
                    &::after {
                        background-image: linear-gradient(90deg, #1890ff, #1890ff);
                    }
                }
            }
        }
        .dd-submenu-arrow {
            display: inline-block;
            width: 10px;
            margin-left: 5;
            position: absolute;
            top: 50%;
            right: 16px;
            transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            &::before,
            &::after {
                display: inline-block;
                content: "";
                position: absolute;
                width: 6px;
                height: 1.5px;
                border-radius: 2px;
                background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
            }
            &::before {
                transform: rotate(-45deg) translateX(2px);
            }
            &::after {
                transform: rotate(45deg) translateX(-2px);
            }
        }
        &.submenu-open {
            .dd-submenu-arrow {
                &::before {
                    transform: rotate(45deg) translateX(2px);
                }
                &::after {
                    transform: rotate(-45deg) translateX(-2px);
                }
            }
        }
    }
}

.menu-horizontal {
    flex-direction: row;
    .dd-menuitem {
        position: relative;
        margin: 0 $menu-item-margin-x;
        border-bottom: $menu-item-active-border-width solid transparent;
        &.is-active {
            // border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
            transform: scaleX(1);
            color: $menu-item-active-color;
        }
        &:hover {
            // border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
            transform: scaleX(1);
        }
        &.submenu-item {
            border-bottom: $menu-item-active-border-width solid transparent;
            &.is-active {
                border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
            }
            &:hover,
            &:focus {
                color: $menu-item-active-color;
            }
            .dd-submenu-horizontal {
                color: $body-color;
                position: absolute;
                left: 0;
                right: 0;
                margin-top: $menu-item-padding-y * 1.8;
                list-style: none;
                border-radius: $menu-border-radius;
                padding-left: 0;
                background-color: $menu-submenu-bgcolor;
                box-shadow: $submenu-box-shadow;
                .dd-menuitem {
                    border-bottom: 0;
                    margin: 0;
                    padding: $menu-item-padding-y;
                    &.is-active {
                        background-color: lighten($menu-item-active-color, 42%);
                        color: $menu-item-active-color;
                        &::after {
                            transform: scaleX(0);
                        }
                    }
                    &:hover {
                        color: $menu-item-active-color;
                    }
                }
            }
        }
        .dd-submenu-arrow {
            right: -18px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -3px;
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
            transform: scaleX(0);
            transition: transform 0.1s ease-in-out;
        }
        &.is-active::after {
            transform: scaleX(1);
        }
    }
}

.menu-vertical {
    flex-direction: column;
    border-bottom: 0;
    border-right: $menu-border-width solid $menu-border-color;
    .dd-menuitem {
        position: relative;
        margin: $menu-item-margin-y 0;
        padding: $menu-item-padding-y 0;
        border-right: $menu-item-active-border-width solid transparent;
        border-bottom: 0;
        &.is-active {
            color: $menu-item-active-color;
            background-color: lighten($menu-item-active-color, 42%);
            &::after {
                transform: scaleY(1);
            }
        }
        &:hover {
            border-bottom: 0;
        }
        &.submenu-item {
            border-right: 0;
            margin: $menu-item-margin-y 0;
            padding: 0;
            &.is-active {
                background-color: transparent;
                color: $menu-item-active-color;
                &::after {
                    transform: scaleY(0);
                }
            }
            .submenu-title {
                padding: $menu-item-padding-y 0;
            }
            .dd-submenu-vertical {
                position: relative;
                color: $body-color;
                left: 0;
                right: 0;
                // margin-top: $menu-item-padding-y * 1.8;
                margin: $menu-item-margin-y 0;
                list-style: none;
                border-radius: $menu-border-radius;
                padding-left: 0;
                background-color: $menu-submenu-bgcolor;
                .dd-menuitem {
                    padding: $menu-item-padding-y 0;
                    margin: 0;
                    border-left: 0;
                    &.is-active {
                        background-color: lighten($menu-item-active-color, 42%);
                        &::after {
                            transform: scaleY(1);
                        }
                    }
                    &:hover {
                        border-left: 0;
                    }
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -3px;
            border-right: $menu-item-active-border-width solid $menu-item-active-color;
            transform: scaleY(0);
            transition: transform 0.1s ease-in-out;
        }
    }
}
