.zoom-in-top-enter {
    opacity: 0;
    transform: scaleY(0);
}
.zoom-in-top-enter-active {
    opacity: 1;
    transform: scale3d(1);
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: center top;
}

.zoom-in-top-exit {
    opacity: 1;
    transform: scaleY(0);
}
.zoom-in-top-exit-active {
    opacity: 0;
    transform: scale3d(1);
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: center top;
}

.slide-in-top {
    transition: transform 0.6s ease;
}

.slide-in-top-enter {
    height: 0;
    opacity: 0;
    transform: translateY(0%);
}
.slide-in-top-enter-active {
    height: auto;
    opacity: 1;
    transform-origin: center top;
    transform: translateY(100%);
}
.slide-in-top-exit {
    opacity: 1;
    height: auto;
    transform: translateY(0%);
}
.slide-in-top-exit-active {
    height: 0;
    opacity: 0;
    transform-origin: center top;
    transform: translateY(100%);
}
